<!--<!doctype html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->

	<!--<title>Home Page</title>-->

<!--</head>-->

<!--<header></header>-->

<!--<body>-->



<!--<h1> Edit Task:</h1>-->

<!--<form action="#" th:action="@{/save}" th:object="${email}" method="post">-->

	<!--<input type="hidden" th:field="*{id}" /> -->

	<!---->

	<!--<label>Title:</label>	-->

	<!--<input type="text" th:field="*{text}" /> -->

	<!--<label>Content:</label>-->

	<!--<input type="text" th:field="*{author}" /> -->

	<!--<input type="submit" value="Submit" />-->

<!--</form>-->
<!--</body>-->

<!--<footer></footer>-->

<!--</html>-->