<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Home Page</title>

</head>

<header></header>

<body>



<h1> Emails:</h1>


<ul th:each =" fromEmail : ${fromEmails}">

    <li th:text="${fromEmail.content}"> </li>
    <a th:href="@{/delete/{id}(id=${fromEmail.fromId})}">delete</a>

    <!--<a th:href="@{/delete/{id}(id=${email.id})}">delete</a>-->

    <!--<a  th:href="@{/edit/{id}(id=${email.id})}">edit</a>-->



</ul>

<br>
<br>
<ul th:each =" toEmail : ${toEmails}">

    <li th:text="${toEmail.content}"> </li>
    <a th:href="@{/delete/{id}(id=${toEmail.toId})}">delete</a>

    <!--<a th:href="@{/delete/{id}(id=${email.id})}">delete</a>-->

    <!--<a  th:href="@{/edit/{id}(id=${email.id})}">edit</a>-->



</ul>



<h1> Create New email:</h1>

<form action="#" th:action="@{/add}" th:object="${email}" method="post">

<label>mail content:</label>

<!--<input type="text" th:field="*{content}" />-->
    <input type="hidden" th:field="*{fromId}" value="${fromId}"/>
    <input type="text" th:field="*{id}" value="${id}"/>

    <textarea  th:field="*{content}" th:inline="text"></textarea>


    <!--<select th:field="*{user}" th:remove="all-but-first">-->
        <!--<option th:each="user : ${users}"-->
                <!--th:value="${user.id}" th:text="${user.name}">Credit card</option></select>-->

<input type="submit" value="Submit" />

</form>

</body>

<footer></footer>

</html>