<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Email Task</title>
</head>

<body>
<h1>Welcome to the Quota Task</h1>

	<ul th:each =" user : ${users}">

		<!--<li th:text="${user.name + ' - ' + user.emailAddress}"> </li>-->
		<li th:text="${user.name}"> </li>
		<a th:href="@{/email/{id}(id=${user.id})}">login</a>

		<!--<a th:href="@{/delete/{id}(id=${email.id})}">delete</a>-->

		<!--<a  th:href="@{/edit/{id}(id=${email.id})}">edit</a>-->

		

	</ul>

<!--<h1> Create New email:</h1>-->

<!--<form action="#" th:action="@{/save}" th:object="${email}" method="post">-->

	<!--<label>Text:</label>-->

	<!--<input type="text" th:field="*{text}" />-->
	<!--&lt;!&ndash;<input type="text" name="text" /> &ndash;&gt;-->
	<!--<label>Author:</label>-->

	<!--<input type="text" th:field="*{author}" />-->

	<!--<input type="submit" value="Submit" />   -->

<!--</form>-->


</body>
</html>