<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:include="layout/style">style</div>
</head>

<body class="container">

<script>

       $(document).ready(function(){
    $('select').formSelect();
  });
</script>




<h2 class="header center "><font color="grey">Welcome To Your Email System</font></h2>


<div class="row col s12 ">
	<br>
	<br>
	<br>
	<br>
	<br>
	<form action="#" th:action="@{/email/{id}(id=${userId})}" method="post">

		<div  class="row col s12 ">
			<div class="col s5" ></div>
			<div class="col s2 center" >
				<select name = "userId" class="center">
					<option   th:each="user:${users}" th:value="${user.id}" th:text="${user.name }"></option>
				</select>
			</div>
			<div class="col s5" ></div>
			<!--https://www.cnblogs.com/jiangchao226/p/5937458.html-->
			<!--<a th:href="@{/email/{id}(id=${user.id})}">login</a>-->
		</div>


		<div class="row center">
			<button class="btn waves-effect waves-light" type="submit" name="action">LOGIN
				<!--<i class="material-icons right">send</i>-->
			</button>

		</div>

	</form>
</div>



</body>
</html>